body {
    align-content: center;
    text-align: center;
    font-family: 'Baloo Chettan 2', cursive;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

ul, h3 {
    margin-left: 20%;
    text-align: left;
}